<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> --}}
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/tailwind.css">
  <title>BookMe!</title>
</head>

<body>
  <header class="font-semibold text-xl tracking-tight flex-col bg-gray-700">
    <nav class="w-full flex justify-between">
      <h1 class="mt-2">
        <a href="/" class="mt-2 font-semibold tracking-tight text-white">Book<span class="text-green-500">Me</span></a>
      </h1>
      {{#if loggedIn}}
      <button id="logout" class="btn-no-style text-2xl font-semibold tracking-tight">Logout</button>
      {{else}}
      <a href="/login" id="loginDisplay" class="text-2xl font-semibold tracking-tight text-white">Login</a>
      {{/if}}
    </nav>
    <ul class="text-2xl grid grid-cols-3 py-4">
      <li class="px-4 text-green-500 hover:text-green-700 transform transition duration-600 hover:scale-125">
        <a href="/">Homepage</a>
      </li>
      <li class="px-4 text-green-500 hover:text-green-700 transform transition duration-600 hover:scale-125">
        <a href="/dashboard">Dashboard</a>
      </li>
      <li class="px-4 text-green-500 hover:text-green-700 transform transition duration-600 hover:scale-125">
        <a id="near-me" href="/location">Near Me</a>
      </li>
    </ul>
  </header>
  <div class="bg-gray-400">
  <main class="h-full">
    {{{ body }}}
  </main>
  <footer>
    Made with ❤ 2021 All rights reserved. Diana Salas | Abhinav Biju | Malik Harris | Tysean Hill.
  </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>