<section>
  <div class="flex justify-center">
      <div class="w-full max-w-xs">
          <p class="bg-green-600 p-4 text-white font-bold text-xl text-center">Create New Post</p>
          <form class="book-post-form bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
              <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="book-name">Book Name</label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="book-name" name="book-name" />
              </div>
              <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="book-author">Book Author</label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="book-author" name="book-author" />
              </div>
              <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="price">Price</label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="price" name="price" />
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="content">Description</label>
                <textarea class="w-64 h-32 border-2" id="content" name="content"></textarea>
              </div>
              <div class="flex items-center justify-center">
                <button onclick="setTimeout(myFunction, 3000);" type="submit" class="btn bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-10 rounded focus:outline-none focus:shadow-outline" id="create-post">Create</button>
              </div>
              <!-- The Modal -->
              <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <p>Post Created!</p>
                </div>
              </div>
          </form>
      </div>
  </div>
</section>

{{#if user.posts.length}}
<section>
  <h2 class="text-center text-bold text-white text-2xl bg-green-700 mb-4">Your Posts</h2>
  <div class="flex justify-center">
  <ol>
    {{#each user.posts as |post|}}
    <li class="max-w-lg bg-green-700 rounded shadow-lg mb-3">
      <div class="px-4 py-4">
      {{> post-info post}}
      <div class="flex align-center">
      <a href="/dashboard/edit/posts/{{post.id}}" class="edit-link w-32 text-center bg-gray-700 text-white inline-block rounded px-3 py-2 text-md font-bold mx-auto">Edit post</a>
      </div>
      </div>
    </li>
    {{/each}}
  </ol>
  </div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>