<div class="bg-red-800 text-white post grid grid-cols-1 items-center w-full md:w-2/3 h-full text-2xl text-center p-12 px-10 bg-white rounded-lg shadow-xl wrapper">
  <img class="object-center grid-rows-2 mx-auto w-3/4" src="https://www.openforchristmas.com/wp-content/uploads/2020/10/Harry-Potter-Christmas-Ideas-Spells-and-Magic-Coming-Out-of-a-Book-Open-for-Christmas-min-1024x536.jpg?ezimgfmt=ng%3Awebp%2Fngcb1%2Frs%3Adevice%2Frscb1-2"> 
  <p class="grid-rows-1">A place to sell your books with people near you!</p>
</div>


<ol class="post-list grid grid-cols-1 md:grid-cols-2 px-4 gap-5 wrapper">
  {{#each posts as |post|}}
  <li class="grid-span-1">
    {{> post-info post }}
  </li>
  {{/each}}
</ol>