<section class="max-w-sm p-12 px-6 bg-white rounded-lg shadow-xl mx-auto">
  <form class="login-form">
    <div class="mb-4 block">
      <label for="email-login">Email:</label>
      <input type="text" id="email-login" />
    </div>
    <div class="mb-6 block">
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit" class="mb-4 block">Login</button>
    </div>
  </form>
  <a href="/signup" ><button class="block">Sign up</button></a>
</section>

<script src="/javascript/login.js"></script>